xcuserdata
build
Debug
Release
Frameworks

project.xcworkspace
nbproject/

*.pbxuser
*.mode1v3
*.sdf
*.suo
*.exe
*.opensdf
.DS_Store
*.o

linux/reacTIVision
ext/portvideo/linux/SportVideo

# ignore application configuration files
calibration.grid

# ignore auto generated header things
*_kernel.h
*.h.gch
